/Algorithms.xcodeproj/project.xcworkspace/xcuserdata/mingyan.xcuserdatad/UserInterfaceState.xcuserstate
/Algorithms.xcodeproj/xcuserdata/mingyan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
